duncan-firmware/tempsensorfirm/src/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"087d2e64fcc3883e","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/getnewurl","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":480,"y":440,"wires":[["add0103df0b230da"]]},{"id":"add0103df0b230da","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = '\"test/url\"'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"38080159a9913439","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"denurity/-/url/change","payload":"\"100\"","payloadType":"str","x":780,"y":540,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"08ef1ee7a0ecdf6c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node/duncan:0/denurity/-/url/change","topic":"node/17884B000DFD:0/denurity/-/url/change","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1130,"y":440,"wires":[]},{"id":"2f9e02ca983a7972","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/sensor/start/get/config","qos":"0","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":340,"wires":[["77d659250082c245"]]},{"id":"77d659250082c245","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":340,"wires":[]},{"id":"3dedc7155f272c40","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-green/temp/settings/interval_ms","qos":"1","datatype":"auto-detect","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":500,"y":220,"wires":[[]]},{"id":"d92dc51da01fe6c8","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-green/temp/settings/delta","qos":"1","datatype":"auto-detect","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":160,"wires":[[]]},{"id":"142d289001dcd723","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/denurity/-/get/config","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1150,"y":180,"wires":[]},{"id":"b1ae180c87fb30e5","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/17884B000DFD:0/denurity/-/get/config","payload":"\"100/200/300/400\"","payloadType":"str","x":790,"y":100,"wires":[["142d289001dcd723","77d659250082c245"]]},{"id":"9effb8457d0ae426","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-green/#","qos":"2","datatype":"auto-detect","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":760,"y":260,"wires":[["77d659250082c245"]]},{"id":"4c3e968fc5a2955d","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":670,"y":820,"wires":[["341810b531e99d4f"]]},{"id":"e28ffca2c0a26567","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f0a47715.88bf08","x":1070,"y":820,"wires":[]},{"id":"341810b531e99d4f","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"node","fromt":"str","to":"smartys-green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":820,"wires":[["e28ffca2c0a26567","c489eafc19e55012"]]},{"id":"c489eafc19e55012","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":880,"wires":[]},{"id":"7e7b6c244a42f866","type":"comment","z":"2c41a2bd.aa36ae","name":"Send from sensor to MQTT","info":"","x":870,"y":780,"wires":[]},{"id":"1ca8b089d02118fd","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f0a47715.88bf08","type":"mqtt-broker","name":"Blokko2 (Mosquitto.org)","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","credentials":{}}]