duncan-firmware/Climate_Firmware/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"087d2e64fcc3883e","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/getnewurl","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":520,"y":980,"wires":[["add0103df0b230da"]]},{"id":"add0103df0b230da","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = '\"test/url\"'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":980,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"38080159a9913439","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"denurity/-/url/change","payload":"\"100\"","payloadType":"str","x":820,"y":1080,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"08ef1ee7a0ecdf6c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node/duncan:0/denurity/-/url/change","topic":"node/17884B000DFD:0/denurity/-/url/change","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1170,"y":980,"wires":[]},{"id":"142d289001dcd723","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/raps/-/get/config1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1120,"y":340,"wires":[]},{"id":"b1ae180c87fb30e5","type":"inject","z":"2c41a2bd.aa36ae","name":"Config1 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/17884B000DFD:0/raps/-/get/config1","payload":"\"1,60,5,10,1,5,1,5,1,5\"","payloadType":"str","x":610,"y":380,"wires":[["142d289001dcd723"]]},{"id":"e28ffca2c0a26567","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f0a47715.88bf08","x":1010,"y":720,"wires":[]},{"id":"341810b531e99d4f","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"node","fromt":"str","to":"smartys-17884B000DFD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":720,"wires":[["e28ffca2c0a26567","c489eafc19e55012"]]},{"id":"c489eafc19e55012","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":780,"wires":[]},{"id":"7e7b6c244a42f866","type":"comment","z":"2c41a2bd.aa36ae","name":"Send from sensor to MQTT","info":"","x":810,"y":680,"wires":[]},{"id":"ee6e21079a17db59","type":"comment","z":"2c41a2bd.aa36ae","name":"Deprecated","info":"","x":790,"y":920,"wires":[]},{"id":"0b54b18254b1497a","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-17884B000DFD/settings/get/config1","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":220,"wires":[["02a8ec3e01be3333","142d289001dcd723"]]},{"id":"bd0bdb68a3a93faf","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"gateway/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":1140,"wires":[["c13d8255d29ce439"]]},{"id":"c13d8255d29ce439","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1140,"wires":[]},{"id":"8d803a50bdd5f65b","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/raps/-/get/config2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1120,"y":440,"wires":[]},{"id":"679285c34a687f1a","type":"comment","z":"2c41a2bd.aa36ae","name":"Getting configs from smartys","info":"","x":600,"y":180,"wires":[]},{"id":"4e82b326d0337986","type":"comment","z":"2c41a2bd.aa36ae","name":"Sending to config sub sensor","info":"","x":1120,"y":300,"wires":[]},{"id":"acec08252dddfc11","type":"comment","z":"2c41a2bd.aa36ae","name":"Inject , splitted integers as \"config\"","info":"","x":600,"y":340,"wires":[]},{"id":"427cffee84266b0c","type":"inject","z":"2c41a2bd.aa36ae","name":"Config2 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartys-17884B000DFD/settings/get/config2","payload":"\"1,5,15,0.2,15,5.0,15,25,15,20\"","payloadType":"str","x":610,"y":420,"wires":[["8d803a50bdd5f65b"]]},{"id":"827b564c09b6412a","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-17884B000DFD/settings/get/config2","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":590,"y":280,"wires":[["02a8ec3e01be3333","8d803a50bdd5f65b"]]},{"id":"2920a9aa15d58e74","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/thermometer/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":660,"wires":[["341810b531e99d4f"]]},{"id":"ecc936b5786810a7","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/hygrometer/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":700,"wires":[["341810b531e99d4f"]]},{"id":"a2252bda249d7fba","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/lux-meter/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":460,"y":740,"wires":[["341810b531e99d4f"]]},{"id":"dceed1c23b867112","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/barometer/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":460,"y":780,"wires":[["341810b531e99d4f"]]},{"id":"149f95c52662c1a0","type":"inject","z":"2c41a2bd.aa36ae","name":"Config1 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartys-17884B000DFD/settings/get/config1","payload":"\"1,60,5,10,1,5,1,5,1,6\"","payloadType":"str","x":610,"y":520,"wires":[["61411586d1814db1"]]},{"id":"68da61eda4c61d7c","type":"inject","z":"2c41a2bd.aa36ae","name":"Config2 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"smartys-17884B000DFD/settings/get/config2","payload":"\"1,5,15,0.2,15,5.0,15,25,15,20\"","payloadType":"str","x":610,"y":560,"wires":[["daaa8b9a82b5b242"]]},{"id":"daaa8b9a82b5b242","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-17884B000DFD/settings/get/config2","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f0a47715.88bf08","x":950,"y":560,"wires":[]},{"id":"61411586d1814db1","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-17884B000DFD/settings/get/config1","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f0a47715.88bf08","x":950,"y":520,"wires":[]},{"id":"02a8ec3e01be3333","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":220,"wires":[]},{"id":"1ca8b089d02118fd","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f0a47715.88bf08","type":"mqtt-broker","name":"Blokko2 (Mosquitto.org)","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]