sensor-smartys/flow/flows-smartys.json
[
    {
        "id": "b475e79a.cf04e8",
        "type": "tab",
        "label": "SMARTYS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b676fdb9.20f47",
        "type": "mqtt in",
        "z": "b475e79a.cf04e8",
        "name": "TempGreen",
        "topic": "node/smartys-temp:green/thermometer/0:0/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "b0649aa8.7762f8",
                "5201f6f6.dfdfb8",
                "43e9cd6d.547b64",
                "e1252669.428c58"
            ]
        ]
    },
    {
        "id": "5201f6f6.dfdfb8",
        "type": "ui_chart",
        "z": "b475e79a.cf04e8",
        "name": "TempGreen",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "TempGreen",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 350,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0649aa8.7762f8",
        "type": "ui_gauge",
        "z": "b475e79a.cf04e8",
        "name": "TempGreen",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#48a4ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "725b4d21.0a4574",
        "type": "ui_gauge",
        "z": "b475e79a.cf04e8",
        "name": "VoltGreen",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Voltage CM",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00ff80"
        ],
        "seg1": "2,5",
        "seg2": "3",
        "x": 800,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3ed4e43.c2044",
        "type": "mqtt in",
        "z": "b475e79a.cf04e8",
        "name": "VoltGreen",
        "topic": "node/smartys-temp:green/battery/-/voltage",
        "qos": "2",
        "broker": "29fba84a.b2af58",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "725b4d21.0a4574",
                "3a59803.2d55e8"
            ]
        ]
    },
    {
        "id": "3a59803.2d55e8",
        "type": "mqtt out",
        "z": "b475e79a.cf04e8",
        "name": "smartys-green/voltage",
        "topic": "smartys-green/voltage",
        "qos": "",
        "retain": "",
        "broker": "f0a47715.88bf08",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "cb24ca53.d7eec8",
        "type": "mqtt in",
        "z": "b475e79a.cf04e8",
        "name": "TempOrange",
        "topic": "node/smartys-temp:orange/thermometer/0:0/temperature",
        "qos": "2",
        "broker": "29fba84a.b2af58",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "877f5c9d.12c42",
                "216d396.2db48c6",
                "29d5c55a.4e3bba",
                "e1252669.428c58"
            ]
        ]
    },
    {
        "id": "216d396.2db48c6",
        "type": "ui_chart",
        "z": "b475e79a.cf04e8",
        "name": "TempOrange",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "TempOrange",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "877f5c9d.12c42",
        "type": "ui_gauge",
        "z": "b475e79a.cf04e8",
        "name": "TempOrange",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "TempOrange",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#48a4ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "29d5c55a.4e3bba",
        "type": "mqtt out",
        "z": "b475e79a.cf04e8",
        "name": "smartys-orange/temp",
        "topic": "smartys-orange/temp",
        "qos": "",
        "retain": "",
        "broker": "f0a47715.88bf08",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "6b64398c.3289e8",
        "type": "mqtt in",
        "z": "b475e79a.cf04e8",
        "name": "TempBlue",
        "topic": "node/smartys-temp:blue/thermometer/0:0/temperature",
        "qos": "2",
        "broker": "29fba84a.b2af58",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "fe0f5aee.053dd8",
                "e26a8141.d44f2",
                "1d21ec03.6b5154",
                "e1252669.428c58"
            ]
        ]
    },
    {
        "id": "e26a8141.d44f2",
        "type": "ui_chart",
        "z": "b475e79a.cf04e8",
        "name": "TempBlue",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "TempBlue",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 340,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fe0f5aee.053dd8",
        "type": "ui_gauge",
        "z": "b475e79a.cf04e8",
        "name": "TempOrange",
        "group": "2cc24052.bdc4d",
        "order": 0,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "60",
        "colors": [
            "#48a4ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d21ec03.6b5154",
        "type": "mqtt out",
        "z": "b475e79a.cf04e8",
        "name": "smartys-blue/temp",
        "topic": "smartys-blue/temp",
        "qos": "",
        "retain": "",
        "broker": "f0a47715.88bf08",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "94857aef.c2f5a8",
        "type": "mqtt in",
        "z": "b475e79a.cf04e8",
        "name": "PushButton",
        "topic": "node/push-button:0/push-button/-/event-count",
        "qos": "2",
        "broker": "29fba84a.b2af58",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "6120ffd1.a73a9"
            ]
        ]
    },
    {
        "id": "6120ffd1.a73a9",
        "type": "mqtt out",
        "z": "b475e79a.cf04e8",
        "name": "smartysButton",
        "topic": "smartys-button/count",
        "qos": "",
        "retain": "",
        "broker": "f0a47715.88bf08",
        "x": 360,
        "y": 560,
        "wires": []
    },
    {
        "id": "43e9cd6d.547b64",
        "type": "mqtt out",
        "z": "b475e79a.cf04e8",
        "name": "smartys-green/temp",
        "topic": "smartys-green/temp",
        "qos": "0",
        "retain": "true",
        "broker": "f0a47715.88bf08",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "418a0cd7.c4e1a4",
        "type": "inject",
        "z": "b475e79a.cf04e8",
        "name": "",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "43e9cd6d.547b64",
                "29d5c55a.4e3bba"
            ]
        ]
    },
    {
        "id": "e1252669.428c58",
        "type": "debug",
        "z": "b475e79a.cf04e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2cc24052.bdc4d",
        "type": "ui_group",
        "z": "",
        "name": "SMARTYS",
        "tab": "f5729220.05402",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f0a47715.88bf08",
        "type": "mqtt-broker",
        "z": "",
        "name": "Blokko2 (Mosquitto.org)",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f5729220.05402",
        "type": "ui_tab",
        "z": "",
        "name": "SMARTYS",
        "icon": "dashboard"
    }
]