marc/hardwario-scales/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/duncan:0/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":400,"y":200,"wires":[["a3704152a326345a"]]},{"id":"ce9f9f18.4bad2","type":"debug","z":"2c41a2bd.aa36ae","name":"","active":true,"console":"false","complete":"false","x":1010,"y":300,"wires":[]},{"id":"d52a09c8c3c4726e","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node/duncan:0/denurity/-/url/change","topic":"node/duncan:0/denurity/-/url/change","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1090,"y":360,"wires":[]},{"id":"087d2e64fcc3883e","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/duncan:0/getnewurl","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":430,"y":400,"wires":[["a86453f49973c8ef","add0103df0b230da"]]},{"id":"add0103df0b230da","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = 6\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":460,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"5fb2cf8bd3cbe2bc","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/duncan:0/denurity/-/url/change","payload":"\"testurl\"","payloadType":"str","x":390,"y":280,"wires":[["a3704152a326345a"]]},{"id":"a86453f49973c8ef","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"urlchange","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["d52a09c8c3c4726e","ce9f9f18.4bad2"]]},{"id":"a3704152a326345a","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"set","p":"urlchange1","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":280,"wires":[["ce9f9f18.4bad2"]]},{"id":"38080159a9913439","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"denurity/-/url/change","payload":"\"testurl/test\"","payloadType":"str","x":730,"y":540,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"08ef1ee7a0ecdf6c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node/duncan:0/denurity/-/url/change","topic":"node/duncan:0/denurity/-/url/change","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1090,"y":440,"wires":[]},{"id":"1ca8b089d02118fd","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]