sensor-blokko/flow/blokko-flows-v2.json
[
    {
        "id": "7d2535f9.38e5ac",
        "type": "tab",
        "label": "BLOKKO NEW",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1541c60.85b07",
        "type": "function",
        "z": "7d2535f9.38e5ac",
        "name": "Make string",
        "func": "msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "cc41f030.a2fbf",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/1",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "d4ee18c7.34c308"
            ]
        ]
    },
    {
        "id": "745951c7.3a58",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "1",
        "topic": "node/bcf-qr-code:1/blokko/order/qr/1",
        "payload": "\"app.smartys.eu/r/453266/001\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "d4ee18c7.34c308"
            ]
        ]
    },
    {
        "id": "8f73e86f.46b728",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "11",
        "topic": "node/bcf-qr-code:1/blokko/order/qr/1",
        "payload": "\"app.smartys.eu/r/453266/011\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "d4ee18c7.34c308"
            ]
        ]
    },
    {
        "id": "38197387.2f55bc",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:1/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "ef832f42.97412"
            ]
        ]
    },
    {
        "id": "d4ee18c7.34c308",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID1 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 60,
        "wires": [
            [
                "626a4010.379a4"
            ]
        ]
    },
    {
        "id": "9a2e72ee.18b15",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:1/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "ef832f42.97412"
            ]
        ]
    },
    {
        "id": "ef832f42.97412",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "8a245fff.884d1",
                "626a4010.379a4"
            ]
        ]
    },
    {
        "id": "8a245fff.884d1",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "node/bcf-qr-code:1/blokko/order/qr/1",
        "topic": "node/bcf-qr-code:1/blokko/order/qr/1",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "626a4010.379a4",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "2a610bba.a35344",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/2",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "c269072b.d11288"
            ]
        ]
    },
    {
        "id": "53c7b1d.fc3c75",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "2",
        "topic": "node/bcf-qr-code:2/blokko/order/qr/2",
        "payload": "\"app.smartys.eu/r/453266/002\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "c269072b.d11288"
            ]
        ]
    },
    {
        "id": "ab5ba1aa.74e1f",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "22",
        "topic": "node/bcf-qr-code:2/blokko/order/qr/2",
        "payload": "\"app.smartys.eu/r/453266/022\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "c269072b.d11288"
            ]
        ]
    },
    {
        "id": "fcfb30a5.3c7ee",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:2/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "932d5fc4.827d3"
            ]
        ]
    },
    {
        "id": "c269072b.d11288",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID2 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "fc1c7fad.a51fa"
            ]
        ]
    },
    {
        "id": "b34eb51c.05ed18",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:2/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "932d5fc4.827d3"
            ]
        ]
    },
    {
        "id": "932d5fc4.827d3",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "b9e1ab33.4ac248",
                "fc1c7fad.a51fa"
            ]
        ]
    },
    {
        "id": "b9e1ab33.4ac248",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:2/blokko/order/qr/2",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc1c7fad.a51fa",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "7ac4f958.ea6498",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/3",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "4138654e.17dadc"
            ]
        ]
    },
    {
        "id": "a0bf8f4b.1c454",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "3",
        "topic": "node/bcf-qr-code:3/blokko/order/qr/3",
        "payload": "\"app.smartys.eu/r/453266/003\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "4138654e.17dadc"
            ]
        ]
    },
    {
        "id": "12107d91.c4bca2",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "33",
        "topic": "node/bcf-qr-code:3/blokko/order/qr/3",
        "payload": "\"app.smartys.eu/r/453266/033\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "4138654e.17dadc"
            ]
        ]
    },
    {
        "id": "f584e28e.610d2",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:3/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "8eeee43a.9685f8"
            ]
        ]
    },
    {
        "id": "4138654e.17dadc",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID3 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "a9b65b8d.f8dc28"
            ]
        ]
    },
    {
        "id": "d2c472cd.1e9a1",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:3/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "8eeee43a.9685f8"
            ]
        ]
    },
    {
        "id": "8eeee43a.9685f8",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId3",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 700,
        "wires": [
            [
                "e189c17b.6569b",
                "a9b65b8d.f8dc28"
            ]
        ]
    },
    {
        "id": "e189c17b.6569b",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:3/blokko/order/qr/3",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "a9b65b8d.f8dc28",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "e57ac2a9.30784",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/4",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "2983404e.df1fb"
            ]
        ]
    },
    {
        "id": "fcb9a4e9.ec19c8",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "4",
        "topic": "node/bcf-qr-code:4/blokko/order/qr/4",
        "payload": "\"app.smartys.eu/r/453266/004\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 840,
        "wires": [
            [
                "2983404e.df1fb"
            ]
        ]
    },
    {
        "id": "c8f2a9a2.9a93c8",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "44",
        "topic": "node/bcf-qr-code:4/blokko/order/qr/4",
        "payload": "\"app.smartys.eu/r/453266/044\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 880,
        "wires": [
            [
                "2983404e.df1fb"
            ]
        ]
    },
    {
        "id": "c675bfe4.b6dbb",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:4/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "c8246b58.6a0848"
            ]
        ]
    },
    {
        "id": "2983404e.df1fb",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID4 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 840,
        "wires": [
            [
                "186c088e.dab127"
            ]
        ]
    },
    {
        "id": "4dbe0f45.43502",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:4/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "c8246b58.6a0848"
            ]
        ]
    },
    {
        "id": "c8246b58.6a0848",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId4",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 960,
        "wires": [
            [
                "96b1c226.c117c",
                "186c088e.dab127"
            ]
        ]
    },
    {
        "id": "96b1c226.c117c",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:4/blokko/order/qr/4",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 980,
        "wires": []
    },
    {
        "id": "186c088e.dab127",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "2aa72c12.7e5db4",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/5",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "f8f5ea19.ef5b28"
            ]
        ]
    },
    {
        "id": "16d667ee.182658",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "5",
        "topic": "node/bcf-qr-code:5/blokko/order/qr/5",
        "payload": "\"app.smartys.eu/r/453266/005\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "f8f5ea19.ef5b28"
            ]
        ]
    },
    {
        "id": "9bf3154f.688df8",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "55",
        "topic": "node/bcf-qr-code:5/blokko/order/qr/5",
        "payload": "\"app.smartys.eu/r/453266/055\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1140,
        "wires": [
            [
                "f8f5ea19.ef5b28"
            ]
        ]
    },
    {
        "id": "6ff2adc6.3f40f4",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:5/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "7e156426.3bab8c"
            ]
        ]
    },
    {
        "id": "f8f5ea19.ef5b28",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID5 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId5",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "d1a9d900.e9f2d8"
            ]
        ]
    },
    {
        "id": "943c5806.e26c68",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:5/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "7e156426.3bab8c"
            ]
        ]
    },
    {
        "id": "7e156426.3bab8c",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId5",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "2fe15b8c.6043e4",
                "d1a9d900.e9f2d8"
            ]
        ]
    },
    {
        "id": "2fe15b8c.6043e4",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:5/blokko/order/qr/5",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d1a9d900.e9f2d8",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 1160,
        "wires": []
    },
    {
        "id": "85519b4b.ecd088",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/6",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "3e5b6888.c2c8d8"
            ]
        ]
    },
    {
        "id": "f3cfc259.a6182",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "6",
        "topic": "node/bcf-qr-code:6/blokko/order/qr/6",
        "payload": "\"app.smartys.eu/r/453266/006\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1360,
        "wires": [
            [
                "3e5b6888.c2c8d8"
            ]
        ]
    },
    {
        "id": "35f52087.a090a",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "66",
        "topic": "node/bcf-qr-code:6/blokko/order/qr/6",
        "payload": "\"app.smartys.eu/r/453266/066\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1400,
        "wires": [
            [
                "3e5b6888.c2c8d8"
            ]
        ]
    },
    {
        "id": "4faee713.d91ec8",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:6/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "3793fbea.54fbd4"
            ]
        ]
    },
    {
        "id": "3e5b6888.c2c8d8",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID6 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId6",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1360,
        "wires": [
            [
                "8936e77f.4cbd68"
            ]
        ]
    },
    {
        "id": "fd0eb519.f8f628",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:6/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1500,
        "wires": [
            [
                "3793fbea.54fbd4"
            ]
        ]
    },
    {
        "id": "3793fbea.54fbd4",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId6",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "1cffd97.a3dc427",
                "8936e77f.4cbd68"
            ]
        ]
    },
    {
        "id": "1cffd97.a3dc427",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:6/blokko/order/qr/6",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8936e77f.4cbd68",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 1420,
        "wires": []
    },
    {
        "id": "c8a96f52.bc22b",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/7",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 1580,
        "wires": [
            [
                "9a882e0b.e4699"
            ]
        ]
    },
    {
        "id": "9f7daf8d.ca5c6",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "7",
        "topic": "node/bcf-qr-code:7/blokko/order/qr/7",
        "payload": "\"app.smartys.eu/r/453266/007\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1620,
        "wires": [
            [
                "9a882e0b.e4699"
            ]
        ]
    },
    {
        "id": "e2a8916b.164c6",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "77",
        "topic": "node/bcf-qr-code:7/blokko/order/qr/7",
        "payload": "\"app.smartys.eu/r/453266/077\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "9a882e0b.e4699"
            ]
        ]
    },
    {
        "id": "7d9f8801.1770d8",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:7/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1720,
        "wires": [
            [
                "e42afc2c.b5992"
            ]
        ]
    },
    {
        "id": "9a882e0b.e4699",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID7 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId7",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1620,
        "wires": [
            [
                "6fe21c4e.2fb714"
            ]
        ]
    },
    {
        "id": "68ee4920.8a4b28",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:7/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1760,
        "wires": [
            [
                "e42afc2c.b5992"
            ]
        ]
    },
    {
        "id": "e42afc2c.b5992",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId7",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1740,
        "wires": [
            [
                "ad070843.daef48",
                "6fe21c4e.2fb714"
            ]
        ]
    },
    {
        "id": "ad070843.daef48",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:7/blokko/order/qr/7",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 1760,
        "wires": []
    },
    {
        "id": "6fe21c4e.2fb714",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 1680,
        "wires": []
    },
    {
        "id": "617f1930.3f5158",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/8",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "2ce4b6a6.d8231a"
            ]
        ]
    },
    {
        "id": "c30a41a8.4c282",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "8",
        "topic": "node/bcf-qr-code:8/blokko/order/qr/8",
        "payload": "\"app.smartys.eu/r/453266/008\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1880,
        "wires": [
            [
                "2ce4b6a6.d8231a"
            ]
        ]
    },
    {
        "id": "47ac13cc.6a886c",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "88",
        "topic": "node/bcf-qr-code:8/blokko/order/qr/8",
        "payload": "\"app.smartys.eu/r/453266/088\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1920,
        "wires": [
            [
                "2ce4b6a6.d8231a"
            ]
        ]
    },
    {
        "id": "384a197a.9fc896",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:8/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 1980,
        "wires": [
            [
                "6421e881.48bc58"
            ]
        ]
    },
    {
        "id": "2ce4b6a6.d8231a",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID8 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId8",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1880,
        "wires": [
            [
                "79f4eb80.d79364"
            ]
        ]
    },
    {
        "id": "42af5393.5135cc",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:8/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2020,
        "wires": [
            [
                "6421e881.48bc58"
            ]
        ]
    },
    {
        "id": "6421e881.48bc58",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId8",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2000,
        "wires": [
            [
                "ddfd9bf7.0869d8",
                "79f4eb80.d79364"
            ]
        ]
    },
    {
        "id": "ddfd9bf7.0869d8",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:8/blokko/order/qr/8",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 2020,
        "wires": []
    },
    {
        "id": "79f4eb80.d79364",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 1940,
        "wires": []
    },
    {
        "id": "1ebfabdc.cce664",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/9",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 2100,
        "wires": [
            [
                "c57c0225.27b71"
            ]
        ]
    },
    {
        "id": "c2b3a08e.77a1b",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "9",
        "topic": "node/bcf-qr-code:9/blokko/order/qr/9",
        "payload": "\"app.smartys.eu/r/453266/009\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2140,
        "wires": [
            [
                "c57c0225.27b71"
            ]
        ]
    },
    {
        "id": "ddf13004.1cb99",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "99",
        "topic": "node/bcf-qr-code:9/blokko/order/qr/9",
        "payload": "\"app.smartys.eu/r/453266/099\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2180,
        "wires": [
            [
                "c57c0225.27b71"
            ]
        ]
    },
    {
        "id": "afbc02c.67c2a",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:9/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2240,
        "wires": [
            [
                "2f3b857.11f227a"
            ]
        ]
    },
    {
        "id": "c57c0225.27b71",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID9 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId9",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2140,
        "wires": [
            [
                "e6b1dd94.94fa3"
            ]
        ]
    },
    {
        "id": "ec85dc46.186d9",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:9/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2280,
        "wires": [
            [
                "2f3b857.11f227a"
            ]
        ]
    },
    {
        "id": "2f3b857.11f227a",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId9",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2260,
        "wires": [
            [
                "2e7fa580.e4edaa",
                "e6b1dd94.94fa3"
            ]
        ]
    },
    {
        "id": "2e7fa580.e4edaa",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:9/blokko/order/qr/9",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 2280,
        "wires": []
    },
    {
        "id": "e6b1dd94.94fa3",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 2200,
        "wires": []
    },
    {
        "id": "5c467a1b.1f52c4",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/10",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 130,
        "y": 2360,
        "wires": [
            [
                "c20d733e.56add"
            ]
        ]
    },
    {
        "id": "7f83f429.0f8cac",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "010",
        "topic": "node/bcf-qr-code:3/blokko/order/qr/3",
        "payload": "\"app.smartys.eu/r/453266/010\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2400,
        "wires": [
            [
                "c20d733e.56add"
            ]
        ]
    },
    {
        "id": "5d8d64d.34ba29c",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "100",
        "topic": "node/bcf-qr-code:10/blokko/order/qr/10",
        "payload": "\"app.smartys.eu/r/453266/100\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2440,
        "wires": [
            [
                "c20d733e.56add"
            ]
        ]
    },
    {
        "id": "58d9d645.acb838",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:10/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2500,
        "wires": [
            [
                "fcb15fd8.b24b"
            ]
        ]
    },
    {
        "id": "c20d733e.56add",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID10 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId10",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2400,
        "wires": [
            [
                "86eb0134.a87b6"
            ]
        ]
    },
    {
        "id": "d2eb5a90.ac7a08",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:10/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2540,
        "wires": [
            [
                "fcb15fd8.b24b"
            ]
        ]
    },
    {
        "id": "fcb15fd8.b24b",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId10",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2520,
        "wires": [
            [
                "e04de39c.4f95a",
                "86eb0134.a87b6"
            ]
        ]
    },
    {
        "id": "e04de39c.4f95a",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:10/blokko/order/qr/10",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 2540,
        "wires": []
    },
    {
        "id": "86eb0134.a87b6",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 2460,
        "wires": []
    },
    {
        "id": "21c3d4b2.06220c",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "blokko/order/qr/0",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f0a47715.88bf08",
        "x": 120,
        "y": 2640,
        "wires": [
            [
                "b9bc06fd.27a058"
            ]
        ]
    },
    {
        "id": "e3cb41b0.52f26",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "0",
        "topic": "node/bcf-qr-code:0/blokko/order/qr/0",
        "payload": "\"app.smartys.eu/r/453266/000\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2680,
        "wires": [
            [
                "b9bc06fd.27a058"
            ]
        ]
    },
    {
        "id": "66d83f4a.3abea",
        "type": "inject",
        "z": "7d2535f9.38e5ac",
        "name": "00",
        "topic": "node/bcf-qr-code:0/blokko/order/qr/0",
        "payload": "\"app.smartys.eu/r/453266/000\"",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2720,
        "wires": [
            [
                "b9bc06fd.27a058"
            ]
        ]
    },
    {
        "id": "a114f448.6e7b48",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:0/update_request",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2780,
        "wires": [
            [
                "495a606d.728ad"
            ]
        ]
    },
    {
        "id": "b9bc06fd.27a058",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "orderID0 -> payload",
        "rules": [
            {
                "t": "set",
                "p": "orderId0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "",
                "fromt": "re",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 2680,
        "wires": [
            [
                "52ef6c79.30b0c4"
            ]
        ]
    },
    {
        "id": "c6bbabbc.5fef38",
        "type": "mqtt in",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:0/battery/-/voltage",
        "qos": "2",
        "datatype": "auto",
        "broker": "29fba84a.b2af58",
        "x": 180,
        "y": 2820,
        "wires": [
            [
                "495a606d.728ad"
            ]
        ]
    },
    {
        "id": "495a606d.728ad",
        "type": "change",
        "z": "7d2535f9.38e5ac",
        "name": "payload -> orderId0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "orderId0",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2800,
        "wires": [
            [
                "27f4eb51.02d9d4",
                "52ef6c79.30b0c4"
            ]
        ]
    },
    {
        "id": "27f4eb51.02d9d4",
        "type": "mqtt out",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "topic": "node/bcf-qr-code:0/blokko/order/qr/0",
        "qos": "",
        "retain": "",
        "broker": "29fba84a.b2af58",
        "x": 830,
        "y": 2820,
        "wires": []
    },
    {
        "id": "52ef6c79.30b0c4",
        "type": "debug",
        "z": "7d2535f9.38e5ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 2740,
        "wires": []
    },
    {
        "id": "f0a47715.88bf08",
        "type": "mqtt-broker",
        "z": "",
        "name": "Blokko2 (Mosquitto.org)",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]