duncan-firmware/tempsensorfirm/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"5b46797412084d09","type":"tab","label":"BLOKKO NEW","disabled":false,"info":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"192.168.178.213","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"node/sensor","birthQos":"0","birthPayload":"connected","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"f0a47715.88bf08","type":"mqtt-broker","name":"Blokko2 (Mosquitto.org)","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1ca8b089d02118fd","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e4ee4b895f8a5431","type":"websocket-client","path":"ws://test.mosquitto.org:8080","tls":"","wholemsg":"false","hb":"0","subprotocol":"smartys-green/temp/settings/interval_ms"},{"id":"087d2e64fcc3883e","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/getnewurl","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":false,"inputs":0,"x":540,"y":820,"wires":[["add0103df0b230da"]]},{"id":"add0103df0b230da","type":"function","z":"2c41a2bd.aa36ae","name":"function 1","func":"msg.payload = '\"test/url\"'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":820,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"38080159a9913439","type":"inject","z":"2c41a2bd.aa36ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"denurity/-/url/change","payload":"\"100\"","payloadType":"str","x":840,"y":920,"wires":[["08ef1ee7a0ecdf6c"]]},{"id":"08ef1ee7a0ecdf6c","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node/duncan:0/denurity/-/url/change","topic":"node/17884B000DFD:0/denurity/-/url/change","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1190,"y":820,"wires":[]},{"id":"2f9e02ca983a7972","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/sensor/start/get/config","qos":"0","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":420,"wires":[["77d659250082c245"]]},{"id":"77d659250082c245","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":340,"wires":[]},{"id":"142d289001dcd723","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/raps/-/get/config1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1140,"y":180,"wires":[]},{"id":"b1ae180c87fb30e5","type":"inject","z":"2c41a2bd.aa36ae","name":"Config1 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/17884B000DFD:0/raps/-/get/config1","payload":"\"1,60,5,10,1,5,1,5,1,5\"","payloadType":"str","x":750,"y":200,"wires":[["142d289001dcd723","77d659250082c245"]]},{"id":"9effb8457d0ae426","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-green/#","qos":"2","datatype":"auto-detect","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":600,"y":380,"wires":[["77d659250082c245"]]},{"id":"4c3e968fc5a2955d","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":630,"y":560,"wires":[["341810b531e99d4f"]]},{"id":"e28ffca2c0a26567","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f0a47715.88bf08","x":1030,"y":560,"wires":[]},{"id":"341810b531e99d4f","type":"change","z":"2c41a2bd.aa36ae","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"node","fromt":"str","to":"smartys-green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":560,"wires":[["e28ffca2c0a26567","c489eafc19e55012"]]},{"id":"c489eafc19e55012","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":620,"wires":[]},{"id":"7e7b6c244a42f866","type":"comment","z":"2c41a2bd.aa36ae","name":"Send from sensor to MQTT","info":"","x":830,"y":520,"wires":[]},{"id":"ee6e21079a17db59","type":"comment","z":"2c41a2bd.aa36ae","name":"Deprecated","info":"","x":810,"y":760,"wires":[]},{"id":"0b54b18254b1497a","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"smartys-011683/temp/settings/struct","qos":"2","datatype":"auto-detect","broker":"f0a47715.88bf08","nl":false,"rap":true,"rh":0,"inputs":0,"x":720,"y":80,"wires":[["142d289001dcd723"]]},{"id":"bd0bdb68a3a93faf","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"gateway/#","qos":"2","datatype":"auto-detect","broker":"1ca8b089d02118fd","nl":false,"rap":true,"rh":0,"inputs":0,"x":540,"y":980,"wires":[["c13d8255d29ce439"]]},{"id":"c13d8255d29ce439","type":"debug","z":"2c41a2bd.aa36ae","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":980,"wires":[]},{"id":"8d803a50bdd5f65b","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"node/17884B000DFD:0/raps/-/get/config2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1ca8b089d02118fd","x":1140,"y":240,"wires":[]},{"id":"679285c34a687f1a","type":"comment","z":"2c41a2bd.aa36ae","name":"Getting struct from smartys","info":"","x":710,"y":40,"wires":[]},{"id":"4e82b326d0337986","type":"comment","z":"2c41a2bd.aa36ae","name":"Sending to config sub sensor","info":"","x":1140,"y":140,"wires":[]},{"id":"acec08252dddfc11","type":"comment","z":"2c41a2bd.aa36ae","name":"Inject , splitted integers as \"config\"","info":"","x":740,"y":160,"wires":[]},{"id":"5a62a844f6418e23","type":"comment","z":"2c41a2bd.aa36ae","name":"Debug checks","info":"","x":610,"y":340,"wires":[]},{"id":"427cffee84266b0c","type":"inject","z":"2c41a2bd.aa36ae","name":"Config2 Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/17884B000DFD:0/raps/-/get/config2","payload":"\"1,5,15,0.2,15,5.0,15,25,15,20\"","payloadType":"str","x":750,"y":240,"wires":[["8d803a50bdd5f65b","77d659250082c245"]]},{"id":"ec9b3abb56d4af31","type":"function","z":"5b46797412084d09","name":"Make string","func":"msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2980,"wires":[[]]},{"id":"e035d62ce05c21c2","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/1","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","nl":false,"rap":false,"inputs":0,"x":120,"y":20,"wires":[["464731c93ed3a823"]]},{"id":"555904d2653086fc","type":"inject","z":"5b46797412084d09","name":"1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:1/blokko/order/qr/1","payload":"\"app.smartys.eu/r/453266/001\"","payloadType":"str","x":110,"y":60,"wires":[["464731c93ed3a823"]]},{"id":"640775f4c479e84f","type":"inject","z":"5b46797412084d09","name":"11","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:1/blokko/order/qr/1","payload":"\"app.smartys.eu/r/453266/011\"","payloadType":"str","x":110,"y":100,"wires":[["464731c93ed3a823"]]},{"id":"0eb2f9803da253b6","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:1/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":160,"wires":[["6f6a5118ae569506"]]},{"id":"464731c93ed3a823","type":"change","z":"5b46797412084d09","name":"orderID1 -> payload","rules":[{"t":"set","p":"orderId1","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["85e8d16efba93ea3"]]},{"id":"813282d80180714e","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:1/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":200,"wires":[["6f6a5118ae569506"]]},{"id":"6f6a5118ae569506","type":"change","z":"5b46797412084d09","name":"payload -> orderId1","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["af2b6827291098da","85e8d16efba93ea3"]]},{"id":"af2b6827291098da","type":"mqtt out","z":"5b46797412084d09","name":"node/bcf-qr-code:1/blokko/order/qr/1","topic":"node/bcf-qr-code:1/blokko/order/qr/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":830,"y":180,"wires":[]},{"id":"85e8d16efba93ea3","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"da32d4e26ddc7989","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/2","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","nl":false,"rap":false,"inputs":0,"x":120,"y":280,"wires":[["9d56d8a978cd546a"]]},{"id":"92a5642b7d0245cc","type":"inject","z":"5b46797412084d09","name":"2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:2/blokko/order/qr/2","payload":"\"app.smartys.eu/r/453266/002\"","payloadType":"str","x":110,"y":320,"wires":[["9d56d8a978cd546a"]]},{"id":"4d9380b719d3d1fe","type":"inject","z":"5b46797412084d09","name":"22","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:2/blokko/order/qr/2","payload":"\"app.smartys.eu/r/453266/022\"","payloadType":"str","x":110,"y":360,"wires":[["9d56d8a978cd546a"]]},{"id":"2e0b72181b8e03fe","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:2/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":420,"wires":[["7d496d5b44d51e5a"]]},{"id":"9d56d8a978cd546a","type":"change","z":"5b46797412084d09","name":"orderID2 -> payload","rules":[{"t":"set","p":"orderId2","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":320,"wires":[["32dda9bc0c3eac94"]]},{"id":"177e001d30177c1c","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:2/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":460,"wires":[["7d496d5b44d51e5a"]]},{"id":"7d496d5b44d51e5a","type":"change","z":"5b46797412084d09","name":"payload -> orderId2","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["c752e4f08c12e94f","32dda9bc0c3eac94"]]},{"id":"c752e4f08c12e94f","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:2/blokko/order/qr/2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":830,"y":460,"wires":[]},{"id":"32dda9bc0c3eac94","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"fb4747c735f1cd53","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/3","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","nl":false,"rap":false,"inputs":0,"x":120,"y":540,"wires":[["226dc76887c576f9"]]},{"id":"a077917c7c7f9af8","type":"inject","z":"5b46797412084d09","name":"3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:3/blokko/order/qr/3","payload":"\"app.smartys.eu/r/453266/003\"","payloadType":"str","x":110,"y":580,"wires":[["226dc76887c576f9"]]},{"id":"11232af0bd1fafb1","type":"inject","z":"5b46797412084d09","name":"33","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:3/blokko/order/qr/3","payload":"\"app.smartys.eu/r/453266/033\"","payloadType":"str","x":110,"y":620,"wires":[["226dc76887c576f9"]]},{"id":"c8b52f36fc5bf765","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:3/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":680,"wires":[["87617e82423a944c"]]},{"id":"226dc76887c576f9","type":"change","z":"5b46797412084d09","name":"orderID3 -> payload","rules":[{"t":"set","p":"orderId3","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[["a39f5c35b6120a43"]]},{"id":"caae0481bf220454","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:3/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":180,"y":720,"wires":[["87617e82423a944c"]]},{"id":"87617e82423a944c","type":"change","z":"5b46797412084d09","name":"payload -> orderId3","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId3","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":700,"wires":[["bf2dfd0a87ce7809","a39f5c35b6120a43"]]},{"id":"bf2dfd0a87ce7809","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:3/blokko/order/qr/3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":830,"y":720,"wires":[]},{"id":"a39f5c35b6120a43","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":640,"wires":[]},{"id":"9b373bb2c27a3560","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/4","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":800,"wires":[["9b066c64c4d612ec"]]},{"id":"489c5480ccd406bc","type":"inject","z":"5b46797412084d09","name":"4","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:4/blokko/order/qr/4","payload":"\"app.smartys.eu/r/453266/004\"","payloadType":"str","x":110,"y":840,"wires":[["9b066c64c4d612ec"]]},{"id":"c8411f698128915e","type":"inject","z":"5b46797412084d09","name":"44","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:4/blokko/order/qr/4","payload":"\"app.smartys.eu/r/453266/044\"","payloadType":"str","x":110,"y":880,"wires":[["9b066c64c4d612ec"]]},{"id":"17b1d650ca5441fc","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:4/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":940,"wires":[["c453189327390ad9"]]},{"id":"9b066c64c4d612ec","type":"change","z":"5b46797412084d09","name":"orderID4 -> payload","rules":[{"t":"set","p":"orderId4","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":840,"wires":[["59b08cffbf3efd1d"]]},{"id":"5494df15020e93cd","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:4/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":980,"wires":[["c453189327390ad9"]]},{"id":"c453189327390ad9","type":"change","z":"5b46797412084d09","name":"payload -> orderId4","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId4","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":960,"wires":[["8cec24eb6d1d1837","59b08cffbf3efd1d"]]},{"id":"8cec24eb6d1d1837","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:4/blokko/order/qr/4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":830,"y":980,"wires":[]},{"id":"59b08cffbf3efd1d","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":900,"wires":[]},{"id":"ad66bb195bf541e1","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/5","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":1060,"wires":[["1a28354fddf23a04"]]},{"id":"ee4ccc87b235d3d3","type":"inject","z":"5b46797412084d09","name":"5","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:5/blokko/order/qr/5","payload":"\"app.smartys.eu/r/453266/005\"","payloadType":"str","x":110,"y":1100,"wires":[["1a28354fddf23a04"]]},{"id":"153c42e64f9ce73c","type":"inject","z":"5b46797412084d09","name":"55","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:5/blokko/order/qr/5","payload":"\"app.smartys.eu/r/453266/055\"","payloadType":"str","x":110,"y":1140,"wires":[["1a28354fddf23a04"]]},{"id":"7c0af26127acc76a","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:5/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1200,"wires":[["8a441187ae490b33"]]},{"id":"1a28354fddf23a04","type":"change","z":"5b46797412084d09","name":"orderID5 -> payload","rules":[{"t":"set","p":"orderId5","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1100,"wires":[["df19cce2a9715b55"]]},{"id":"efe55fd7ce12997a","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:5/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1240,"wires":[["8a441187ae490b33"]]},{"id":"8a441187ae490b33","type":"change","z":"5b46797412084d09","name":"payload -> orderId5","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId5","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1220,"wires":[["c6208679a9b9b552","df19cce2a9715b55"]]},{"id":"c6208679a9b9b552","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:5/blokko/order/qr/5","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":830,"y":1240,"wires":[]},{"id":"df19cce2a9715b55","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1160,"wires":[]},{"id":"37df1117d9573765","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/6","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":1320,"wires":[["e1a191676a9cc818"]]},{"id":"7fe2fa42fcb569fe","type":"inject","z":"5b46797412084d09","name":"6","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:6/blokko/order/qr/6","payload":"\"app.smartys.eu/r/453266/006\"","payloadType":"str","x":110,"y":1360,"wires":[["e1a191676a9cc818"]]},{"id":"63c31dec3b6fca28","type":"inject","z":"5b46797412084d09","name":"66","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:6/blokko/order/qr/6","payload":"\"app.smartys.eu/r/453266/066\"","payloadType":"str","x":110,"y":1400,"wires":[["e1a191676a9cc818"]]},{"id":"9110c8ab29c42339","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:6/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1460,"wires":[["a26a862b672a8c3b"]]},{"id":"e1a191676a9cc818","type":"change","z":"5b46797412084d09","name":"orderID6 -> payload","rules":[{"t":"set","p":"orderId6","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1360,"wires":[["6748b544bdf02aa3"]]},{"id":"513b18be3ea637cd","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:6/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1500,"wires":[["a26a862b672a8c3b"]]},{"id":"a26a862b672a8c3b","type":"change","z":"5b46797412084d09","name":"payload -> orderId6","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId6","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1480,"wires":[["1aaa2249d2978e6a","6748b544bdf02aa3"]]},{"id":"1aaa2249d2978e6a","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:6/blokko/order/qr/6","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":1500,"wires":[]},{"id":"6748b544bdf02aa3","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1420,"wires":[]},{"id":"9fe8c7eb61bb9e11","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/7","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":1580,"wires":[["d4f0c1d26a291228"]]},{"id":"573a2b2450073956","type":"inject","z":"5b46797412084d09","name":"7","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:7/blokko/order/qr/7","payload":"\"app.smartys.eu/r/453266/007\"","payloadType":"str","x":110,"y":1620,"wires":[["d4f0c1d26a291228"]]},{"id":"63d6fdbaf39caa3d","type":"inject","z":"5b46797412084d09","name":"77","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:7/blokko/order/qr/7","payload":"\"app.smartys.eu/r/453266/077\"","payloadType":"str","x":110,"y":1660,"wires":[["d4f0c1d26a291228"]]},{"id":"8d395a2d08b941a7","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:7/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1720,"wires":[["4f19a2a04a2b2858"]]},{"id":"d4f0c1d26a291228","type":"change","z":"5b46797412084d09","name":"orderID7 -> payload","rules":[{"t":"set","p":"orderId7","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1620,"wires":[["fa7b7cece4a48986"]]},{"id":"1a057bf72cd0391d","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:7/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1760,"wires":[["4f19a2a04a2b2858"]]},{"id":"4f19a2a04a2b2858","type":"change","z":"5b46797412084d09","name":"payload -> orderId7","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId7","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1740,"wires":[["a0c5dd2bd3aaa4e8","fa7b7cece4a48986"]]},{"id":"a0c5dd2bd3aaa4e8","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:7/blokko/order/qr/7","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":1760,"wires":[]},{"id":"fa7b7cece4a48986","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1680,"wires":[]},{"id":"a2666d19f8090a88","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/8","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":1840,"wires":[["133c56711cdca697"]]},{"id":"6577c843e0eff5dc","type":"inject","z":"5b46797412084d09","name":"8","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:8/blokko/order/qr/8","payload":"\"app.smartys.eu/r/453266/008\"","payloadType":"str","x":110,"y":1880,"wires":[["133c56711cdca697"]]},{"id":"7123ba8d9ac25c24","type":"inject","z":"5b46797412084d09","name":"88","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:8/blokko/order/qr/8","payload":"\"app.smartys.eu/r/453266/088\"","payloadType":"str","x":110,"y":1920,"wires":[["133c56711cdca697"]]},{"id":"bc2161d704062160","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:8/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":1980,"wires":[["73ef818614f60528"]]},{"id":"133c56711cdca697","type":"change","z":"5b46797412084d09","name":"orderID8 -> payload","rules":[{"t":"set","p":"orderId8","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1880,"wires":[["0a062cc56f05c364"]]},{"id":"8ee9b7f34f2f6adf","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:8/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2020,"wires":[["73ef818614f60528"]]},{"id":"73ef818614f60528","type":"change","z":"5b46797412084d09","name":"payload -> orderId8","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId8","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2000,"wires":[["25c6d2af65a2d2b4","0a062cc56f05c364"]]},{"id":"25c6d2af65a2d2b4","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:8/blokko/order/qr/8","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":2020,"wires":[]},{"id":"0a062cc56f05c364","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":1940,"wires":[]},{"id":"4e7fcd76c7337476","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/9","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":2100,"wires":[["0a325f65b96e68dc"]]},{"id":"359a4cf58fdfa6ba","type":"inject","z":"5b46797412084d09","name":"9","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:9/blokko/order/qr/9","payload":"\"app.smartys.eu/r/453266/009\"","payloadType":"str","x":110,"y":2140,"wires":[["0a325f65b96e68dc"]]},{"id":"e5247cbf2005ecb5","type":"inject","z":"5b46797412084d09","name":"99","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:9/blokko/order/qr/9","payload":"\"app.smartys.eu/r/453266/099\"","payloadType":"str","x":110,"y":2180,"wires":[["0a325f65b96e68dc"]]},{"id":"6333a2d8994d6438","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:9/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2240,"wires":[["82858f4f66deca0c"]]},{"id":"0a325f65b96e68dc","type":"change","z":"5b46797412084d09","name":"orderID9 -> payload","rules":[{"t":"set","p":"orderId9","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2140,"wires":[["4bb152ee666008b3"]]},{"id":"9ce192035014032d","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:9/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2280,"wires":[["82858f4f66deca0c"]]},{"id":"82858f4f66deca0c","type":"change","z":"5b46797412084d09","name":"payload -> orderId9","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId9","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2260,"wires":[["5e5585e3d015db89","4bb152ee666008b3"]]},{"id":"5e5585e3d015db89","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:9/blokko/order/qr/9","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":2280,"wires":[]},{"id":"4bb152ee666008b3","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":2200,"wires":[]},{"id":"a3ef2e3d2a36b0c1","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/10","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":130,"y":2360,"wires":[["883c19519ba73e03"]]},{"id":"3e050a7d38193e16","type":"inject","z":"5b46797412084d09","name":"010","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:3/blokko/order/qr/3","payload":"\"app.smartys.eu/r/453266/010\"","payloadType":"str","x":110,"y":2400,"wires":[["883c19519ba73e03"]]},{"id":"602fff11113b7a3d","type":"inject","z":"5b46797412084d09","name":"100","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:10/blokko/order/qr/10","payload":"\"app.smartys.eu/r/453266/100\"","payloadType":"str","x":110,"y":2440,"wires":[["883c19519ba73e03"]]},{"id":"b65d2ae94a919736","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:10/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2500,"wires":[["4820db8aa7b3cd54"]]},{"id":"883c19519ba73e03","type":"change","z":"5b46797412084d09","name":"orderID10 -> payload","rules":[{"t":"set","p":"orderId10","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2400,"wires":[["12ee6b8e78d764e6"]]},{"id":"4e721e0151f74e15","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:10/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2540,"wires":[["4820db8aa7b3cd54"]]},{"id":"4820db8aa7b3cd54","type":"change","z":"5b46797412084d09","name":"payload -> orderId10","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId10","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2520,"wires":[["950746713bd8bdd8","12ee6b8e78d764e6"]]},{"id":"950746713bd8bdd8","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:10/blokko/order/qr/10","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":2540,"wires":[]},{"id":"12ee6b8e78d764e6","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":2460,"wires":[]},{"id":"3a42f3c8a65b9628","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"blokko/order/qr/0","qos":"2","datatype":"utf8","broker":"f0a47715.88bf08","inputs":0,"x":120,"y":2640,"wires":[["02e53dc55fd1995f"]]},{"id":"6ff0caaf28e61759","type":"inject","z":"5b46797412084d09","name":"0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:0/blokko/order/qr/0","payload":"\"app.smartys.eu/r/453266/000\"","payloadType":"str","x":110,"y":2680,"wires":[["02e53dc55fd1995f"]]},{"id":"98f8c0429ddb1c8d","type":"inject","z":"5b46797412084d09","name":"00","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"node/bcf-qr-code:0/blokko/order/qr/0","payload":"\"app.smartys.eu/r/453266/000\"","payloadType":"str","x":110,"y":2720,"wires":[["02e53dc55fd1995f"]]},{"id":"bf0d91345c2ab7a7","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:0/update_request","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2780,"wires":[["efb1696805d130bd"]]},{"id":"02e53dc55fd1995f","type":"change","z":"5b46797412084d09","name":"orderID0 -> payload","rules":[{"t":"set","p":"orderId0","pt":"flow","to":"payload","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"","fromt":"re","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2680,"wires":[["8963bbeaf2af0173"]]},{"id":"759bdbe38532a710","type":"mqtt in","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:0/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","inputs":0,"x":180,"y":2820,"wires":[["efb1696805d130bd"]]},{"id":"efb1696805d130bd","type":"change","z":"5b46797412084d09","name":"payload -> orderId0","rules":[{"t":"set","p":"payload","pt":"msg","to":"orderId0","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2800,"wires":[["e88b5b41bbe51791","8963bbeaf2af0173"]]},{"id":"e88b5b41bbe51791","type":"mqtt out","z":"5b46797412084d09","name":"","topic":"node/bcf-qr-code:0/blokko/order/qr/0","qos":"","retain":"","broker":"29fba84a.b2af58","x":830,"y":2820,"wires":[]},{"id":"8963bbeaf2af0173","type":"debug","z":"5b46797412084d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":2740,"wires":[]}]